html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("teste.gif");
    background-position: center;
    position: relative;
    margin: 0;
    padding: 0;
}

.fullscreen-flor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("tela-inicial.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -2;
}

.center-wrapper,
.center-wrapper2,
.center-wrapper3,
.center-wrapper4 {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fundo-brilho {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

.titulo-foto {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ajusta as imagens conforme antes */
.foto-titulo {
    width: 700px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
}

.foto-linha {
    width: 1000px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: -12%;
}

.local-calendario {
    margin-left: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
}

.foto-calendario {
    width: 1200px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
}

.foto-local {
    width: 900px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
}

.bokas-momento {
    margin-left: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
}

.foto-bokas {
    width: 3000px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
}

.foto-momento {
    width: 3000px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
}

.foto-logo {
    width: 500px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Desktop */
@media (min-width: 481px) {

    .foto-linha,
    .foto-calendario,
    .foto-local,
    .foto-bokas,
    .foto-momento {
        max-width: 90%;
    }
}

/*Responsividade do celular*/
@media (max-width: 480px) {

    .bokas-momento,
    .local-calendario {
        gap: 25px;
        flex-direction: column;
    }

    .foto-linha,
    .foto-calendario {
        width: 100%;
        max-width: 100%;
    }
}